/* You can add global styles to this file, and also import other style files */
.container{
    margin: 10px;
    border: 1px solid #aaa;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #383535;
}

ul#routing {
    text-align: center;
}

ul#routing li{
    display: inline-block;
    list-style: none;
}

ul#routing li a{
    text-decoration: none;
    margin-right: 10px;
    font-size: 2em;
    color: #636161;
    padding: 2px 5px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5ms all;
}

ul#routing li a:hover{
    border-bottom: 1px solid #000;
}